.Shop-Page {
        box-shadow: 0 0 3px #ddd;
        width: 1170px;
        margin: 0 auto;
        padding: 25px;

        h1.collection-title {
                padding: 0 15px;
                margin-bottom: 30px;
        }
        .collection-prev {
                margin-bottom: 80px;
                padding-top: 20px;
                padding-bottom: 25px;
                
            }
}

    